<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.coding.boot.tm.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="cn.coding.boot.tm.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
  </resultMap>
  <select id="getById" resultType="cn.coding.boot.tm.entity.UserWithRole" parameterType="long">
    SELECT
      u.id,
      u.username,
      u.PASSWORD,
      u.age,
      ur.role_id roleId
    FROM USER u
      LEFT JOIN user_role ur ON ( u.id = ur.user_id )
    WHERE
        u.id = #{id}
  </select>
  <select id="listUsers" parameterType="cn.coding.boot.tm.entity.User" resultType="cn.coding.boot.tm.entity.User">
    select u.id, u.username, u.password, u.age
    from user u
    where 1=1
    <if test="username != null and username != ''">
      and username = #{user.username}
    </if>
    <if test="age != null and age != ''">
      and age = #{user.age}
    </if>
    order by u.id
  </select>
</mapper>